@font-face {
  font-family: "LineIcons";
  src: url("../fonts/LineIcons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.lni {
  display: inline-block;
  font: normal normal normal 1em/1 "LineIcons";
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lni-arrow-up::before {
  content: "\ea22";
}

.lni-checkmark::before {
  content: "\ea55";
}

.lni-chevron-down::before {
  content: "\ea58";
}

.lni-close::before {
  content: "\ea63";
}

.lni-night::before {
  content: "\eb33";
}

.lni-play::before {
  content: "\eb51";
}

.lni-search-alt::before {
  content: "\eb7b";
}

.lni-sun::before {
  content: "\ebaf";
}
