<section class="content-section also-explore section-compact">
  <div class="container">
    <div class="also-explore__head">
      <h6>{{#if label}}{{label}}{{else}}KEEP EXPLORING{{/if}}</h6>
      <p>{{#if subtitle}}{{subtitle}}{{else}}More ways to see how ELM delivers LFAM in the UAE{{/if}}</p>
    </div>
    <div class="also-explore__grid">
      <a href="{{link1Href}}" class="also-explore__card">
        <span>{{link1Label}}</span>
        <i class="lni lni-arrow-right" aria-hidden="true"></i>
      </a>
      <a href="{{link2Href}}" class="also-explore__card">
        <span>{{link2Label}}</span>
        <i class="lni lni-arrow-right" aria-hidden="true"></i>
      </a>
      <a href="{{linkAllHref}}" class="also-explore__card also-explore__card--all">
        <span>{{linkAllLabel}}</span>
        <i class="lni lni-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>
