<section class="content-section also-explore section-compact">
  <div class="container">
    <div class="also-explore__head">
      <h6 data-i18n="{{#if i18nLabel}}{{i18nLabel}}{{else}}partials.alsoExplore.defaultLabel{{/if}}">{{#if label}}{{label}}{{else}}KEEP EXPLORING{{/if}}</h6>
      <p data-i18n="{{#if i18nSubtitle}}{{i18nSubtitle}}{{else}}partials.alsoExplore.defaultSubtitle{{/if}}">{{#if subtitle}}{{subtitle}}{{else}}More ways to see how ELM delivers LFAM in the UAE{{/if}}</p>
    </div>
    <div class="also-explore__grid">
      <a href="{{link1Href}}" class="also-explore__card">
        <span{{#if i18nLink1}} data-i18n="{{i18nLink1}}"{{/if}}>{{link1Label}}</span>
        <span class="elm-go elm-go--solid" aria-hidden="true"></span>
      </a>
      <a href="{{link2Href}}" class="also-explore__card">
        <span{{#if i18nLink2}} data-i18n="{{i18nLink2}}"{{/if}}>{{link2Label}}</span>
        <span class="elm-go elm-go--solid" aria-hidden="true"></span>
      </a>
      <a href="{{linkAllHref}}" class="also-explore__card also-explore__card--all">
        <span{{#if i18nLinkAll}} data-i18n="{{i18nLinkAll}}"{{/if}}>{{linkAllLabel}}</span>
        <span class="elm-go elm-go--solid" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</section>
