<link rel="preload" href="fonts/nohemi/Nohemi-SemiBold.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="fonts/nohemi/Nohemi-Bold.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="fonts/almarai/almarai-arabic-400-normal.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="fonts/almarai/almarai-arabic-700-normal.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="fonts/almarai/almarai-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin>
