<link rel="preload" href="fonts/nohemi/Nohemi-SemiBold.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="fonts/nohemi/Nohemi-Bold.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="fonts/readex-pro/readex-pro-arabic-400-normal.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="fonts/readex-pro/readex-pro-arabic-600-normal.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="fonts/readex-pro/readex-pro-arabic-700-normal.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="fonts/readex-pro/readex-pro-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin>
