<link rel="icon" href="ico/favicon.svg" type="image/svg+xml">
{{> font-preload}}
<link rel="icon" href="ico/favicon.png" type="image/png" sizes="32x32">
<link rel="shortcut icon" href="ico/favicon.ico">
<link href="ico/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
{{#if deferMain}}
<link rel="stylesheet" href="css/lineicons.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="css/bootstrap-grid.min.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="css/style.css" data-elm-main-css>
<noscript>
<link rel="stylesheet" href="css/lineicons.css">
<link rel="stylesheet" href="css/bootstrap-grid.min.css">
<link rel="stylesheet" href="css/style.css">
</noscript>
{{else}}
<link rel="stylesheet" href="css/lineicons.css">
<link rel="stylesheet" href="css/bootstrap-grid.min.css">
<link rel="stylesheet" href="css/style.css">
{{/if}}
{{#if odometer}}<link rel="stylesheet" href="css/odometer.min.css">{{/if}}
{{#if fancybox}}<link rel="stylesheet" href="css/fancybox.min.css">{{/if}}
{{#if swiper}}<link rel="stylesheet" href="css/swiper.min.css">{{/if}}
