<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "name": "{{serviceName}}",
  "description": "{{serviceDescription}}",
  "url": "{{siteUrl}}/{{serviceUrl}}",
  "provider": {
    "@type": "Organization",
    "name": "ELM Media Design",
    "url": "{{siteUrl}}/",
    "logo": "{{siteUrl}}/images/logo.png",
    "telephone": "+971564663334",
    "email": "amin@letsadsmedia.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Office 203, API Business Suites, Al Barsha 1",
      "addressLocality": "Dubai",
      "addressRegion": "Dubai",
      "addressCountry": "AE"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 25.1108,
      "longitude": 55.2003
    }
  },
  "areaServed": {
    "@type": "Country",
    "name": "United Arab Emirates"
  },
  "serviceType": "{{serviceName}}"
}
</script>
