<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#BD1F71"/>
<title>{{title}}</title>
<meta name="author" content="ELM Media Design">
<meta name="description" content="{{description}}">
<meta name="robots" content="{{#if noindex}}noindex, follow{{else}}index, follow{{/if}}">

<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:site_name" content="ELM Media Design">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.elmmdesign.com/{{ogPath}}">
<meta property="og:image" content="https://www.elmmdesign.com/images/logo.svg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:image" content="https://www.elmmdesign.com/images/logo.svg">

<link rel="canonical" href="https://www.elmmdesign.com/{{ogPath}}">
