<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
{{#if swiper}}<script src="/js/swiper.min.js"></script>{{/if}}
{{#if fancybox}}<script src="/js/fancybox.min.js"></script>{{/if}}
{{#if odometer}}<script src="/js/odometer.min.js"></script>{{/if}}
{{#if isotope}}<script src="/js/isotope.min.js"></script>{{/if}}
<script src="/js/theme.js"></script>
<script src="/js/search.js"></script>
<script src="/js/motion.js"></script>
<script src="/js/scripts.js"></script>
<script src="https://static.cloudflareinsights.com/beacon.min.js" async data-cf-beacon='{"token": "07db17d7c3d748be978f6890ec4e0d41"}'></script>
