<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
{{#if swiper}}<script src="/js/swiper.min.js"></script>{{/if}}
{{#if fancybox}}<script src="/js/fancybox.min.js"></script>{{/if}}
{{#if odometer}}<script src="/js/odometer.min.js"></script>{{/if}}
{{#if isotope}}<script src="/js/isotope.min.js"></script>{{/if}}
<script src="/js/theme.js"></script>
<script src="/js/search.js"></script>
<script src="/js/motion.js"></script>
<script src="/js/scripts.js"></script>
