<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="counter-box"> <span class="odometer" data-count="72" data-status="yes">0</span> <span class="value">h</span>
          <h6>RFQ Response</h6>
          <p>Structured quotation turnaround for qualified commercial enquiries</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter-box"> <span class="odometer" data-count="30" data-status="yes">0</span> <span class="value">min</span>
          <h6>Consultation Briefing</h6>
          <p>Initial technical scoping with our LFAM specialists</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter-box"> <span class="odometer" data-count="2" data-status="yes">0</span> <span class="value">+</span>
          <h6>Core Technologies</h6>
          <p>Robotic concrete and polymer large-format additive manufacturing</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter-box"> <span class="odometer" data-count="2030" data-status="yes">0</span> <span class="value">#</span>
          <h6>Dubai 3D Strategy</h6>
          <p>Aligned with UAE additive manufacturing mandates</p>
        </div>
      </div>
    </div>
  </div>
</section>
