<div class="testimonials-slider__controls" aria-hidden="false">
  <button type="button" class="slider-controls__btn testimonials-slider__arrow testimonials-slider__arrow--prev button-prev" aria-label="Previous testimonial"><i class="lni lni-arrow-left" aria-hidden="true"></i></button>
  <button type="button" class="slider-controls__btn testimonials-slider__arrow testimonials-slider__arrow--next button-next" aria-label="Next testimonial"><i class="lni lni-arrow-right" aria-hidden="true"></i></button>
</div>
